<% if can? :read, transact %>
  <div class='transact-item'>
    <div id="<%= dom_id transact %>" class='item-info'>
      <span><%= transact.name %></span>
      <span>
        <strong>Amount:</strong>
          $<%= transact.amount %>
      </span>
      <p>
        <strong>Date:</strong>
        <%= transact.created_at %>
      </p>
    </div>
  </div>

<%end%>