<p style="color: green"><%= notice %></p>

<h1>Transacts</h1> <%= current_user.name%>

<div id="transacts">
  <% @transacts.each do |transact| %>
    <%= render transact %>
  <% end %>
</div>
<%= link_to "New transact", new_category_transact_path %>
