<main class='splash-container'>

    <div class='app-name'>
        <h1>E-tracker</h1>
    </div>

    <div class='auth'>
        <%= link_to 'Log In', new_user_session_path, class: 'button' %>
        <%= link_to 'Sign up', new_user_registration_path %>
    </div>
</main>
