@import 'partials/_variables';


.splash-container{
    @include container(100%, 'column');
    @include background-color($bg-color);
    padding: $spacing;


    .app-name{
        @include center-content(60%, 76.5%);
        text-align: center;
        padding: $spacing;

        h1{
            font-size: 2.5rem;
            font-weight: bold;
            color: $primary-color;
            font-style: italic;
        }
    }

    .auth{
        @include center-content(100%, 0);
        text-align: center;
        padding: $spacing;
        @include display-flex('column');
        gap: 5px;

        a{
            text-decoration: none;
            color: $text-color;
            font-size: 1.3rem;
        }

        .button{
            @include button(100%, 4px, $primary-color, white);
            font-weight: bold;
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
            padding: 10px;
        }
    }
}