@import 'partials/variables';

.transacts{
    width: 100%;
    position: relative;
    height: 100vh;
    background-color: $bg-color;

    h1{
        background-color: $primary-color;
        color: white;
        text-align: center;
        padding: $spacing - .3rem;
        text-transform: uppercase;
        font-size: 2rem;
    }

    h2{
        color: $text-color;
        text-align: right;
        padding: $spacing - .3rem;
        font-size: 1.5rem;
        background: white;
    }

    h3{
        color: $text-color;
        padding: $spacing - .7rem;
        font-size: 1.5rem;
    }

    .transact-img-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        gap: 10px;
        padding: 10px 5px;
        border-bottom: 1px solid gray;

        .transact-img{
            width: 60px;
            height: 60px;

            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .transact-item{
        width: 95%;
        background-color: white;
        padding: $spacing - .5rem;
        margin: 0 auto;
        display: flex;
        margin-bottom: 10px;

        .item-info{
            display: flex;
            flex-direction: column;
        }

        span, p{
            font-size: 1rem;
        }
    }

    .btn-container{
        background-color: $secondary-color;
        width: 100%;
        position: fixed;
        bottom: 0;
        padding: $spacing;
        display: flex;
        justify-content: center;
        align-items: center;

        .add-btn{
            @include button(90%, 5px, $secondary-color, white);
            border: 1px solid white;
            padding: $spacing;

            a{
                color: #fff;
                text-decoration: none;
                font-size: 1.2rem;
            }
        }
    }

    .back{
        width: 100px;
        text-decoration: none;
        font-size: 1.2rem;
        margin: 0 auto;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        a{
            text-decoration: none;
            color: gray;
            padding-bottom: 20px;
        }
    }
}