@import 'partials/variables';
.trans-new{

    h1{
        background-color: $primary-color;
        color: white;
        text-align: center;
        padding: $spacing - .3rem;
        text-transform: uppercase;
        font-size: 2rem;
    }

    form{
        @include display-flex('column');
        padding: $spacing - .8rem;
        margin-top: 20px;

        label{
            font-size: 1.2rem;
            margin-bottom: 3px;
        }

        select, input[type="text"], input[type="number"]{
            width: 100%;
            padding: $spacing - .5rem;
            color: $text-color;
            font-size: 1.2rem;
            margin-bottom: 5px;
            background-color: white;
            border: 1px solid gray;
            border-radius: 3px;
        }

        .actions{
            @include center-content(50%, $spacing);
            margin-top: 20px;

            input[type="submit"]{
                @include button(100%, 5px, $primary-color, $text-color);
                border: none;
                font-size: 1.3rem;
                margin-top: 20px;
                color: white;
                padding: $spacing - .4rem;
            }
        }
    }

    .back{
        width: 100px;
        text-decoration: none;
        font-size: 1.2rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        a{
            text-decoration: none;
            color: gray;
            padding-bottom: 20px;
        }
    }
}