<div class='category'>

    <div class='cat-item'>
        <%= @user.name %>
        <img src= "#{category.icon}">
        Transaction Total: <%= 'Total Goes here' %>
        <%= link_to 'View details', category_path(category.id)%>
    </div>
</div>