<div class='category'>

    <div class='cat-item'>
        <img src= "#{category.icon}">
        Transaction Total: <%= category.transact.map {|ct| ct.amount}.sum %>
        <%= link_to 'View details', category_path(category.id)%>
    </div>
</div>