<div class='categories'>
    <div class='recents'>
        <%= button_to 'Most recent'%>
        <%= button_to 'Most ancient' %>
    </div>

    <div>
        <% if @categories.empty? %>
            <p>Click below button to add new categories</p>

        <% else %>
            <% @categories.each do |category|%>
                <%= render category %>
            <%end%>
        <% end %>
    </div>

    <% if can? :create, Category%>
        <div>
             <%= link_to 'Add new category', new_category_path %>
        </div>
    <%end%>
</div>
