<div>
    <%= link_to '< Back to categories', categories_path%>
    <%# if @transacts.empty? %>
        <p>No Transaction for this category</p>
    <%#else%>
        <%# @transacts.each do |t| %>
            <%# <p>hello</p> %>
        <%#end%>
    <%#end%>

</div>
